<script src="/javascripts/connect.js"></script>

<script>
function getStores() {
return [
{{#each stores}}
   "{{this.attributes.name}}",
{{/each}}
	];
	// TBD MWA: Is the above a disgraceful hack or the only way of communicating forward to jquery from the generating page?
}
</script>
<div id=left>
<h2>From</h2>
<ul id="from">
    {{#each mydata}}
    	    <li> {{this.attributes.item}} </li>
    {{/each}}
</ul>
</div>    
 
{{#each stores}}
<div id="right">
<h2>{{this.attributes.name}}</h2>
<ul id="{{this.attributes.name}}">

</ul>
</div>
{{/each}}