<script src="/javascripts/connect.js"></script>

<div id=left>
<h2>From</h2>
<ul id="from">
    {{#each mydata}}
    	    <li> {{this.id}} </li>
    {{/each}}
</ul>
</div>    

<div id="right">
<h2>Store1</h2>
<ul id="store1">

</ul>
<div id="right">
<h2>Store2</h2>
<ul id="store2">
    <li>place</li>
</ul>
</div>