<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <meta name="viewport" content="width=568, maximum-scale=1.0">
    <style type="text/css" media="only screen and (max-device-width: 360px) and (orientation: portrait)">
  body { font-size: 200%; }
    </style>
    <script src="/javascripts/jquery.ui.touch-punch.js"></script>
  </head>
  <body>
    <a href=/listitems>listitems</a> 
    <a href=/additem>additem</a>
    <a href=/liststores>liststores</a> 
    <a href=/addstore>addstore</a>
    <a href=/alloc>alloc</a>
    {{{body}}}
  </body>
</html>
