<h1>{{title}}</h1>

<table>
{{#each	mydata}}
	<tr>
		<td>
			{{this.attributes.item}} 
		</td>
		<td>
			<a href=/showitem?id={{this.thingId}}>show</a>
		</td>
		<td>
			<a href=/delitem?id={{this.thingId}}>delete</a>
		</td>		
	</tr>
{{/each}}
</table>
