<h1>{{title}}</h1>

<table>
{{#each	mydata}}
	<tr>
		<td>
			{{this.attributes.name}} 
		</td>
		<td>
			<a href=/showthing?id={{this.thingId}}>show</a>
		</td>
		<td>
			<a href=/delthing?id={{this.thingId}}>delete</a>
		</td>		
	</tr>
{{/each}}
</table>
